*{
    margin:0;
    padding:0;
}
body{
    height:100%;
    margin:0;
}    
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);margin:10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.leftside{
    width:40%;
}
h1{
    color:royalblue;
    font-size:80px;
}
}
h3{
    color:black;
    font-family:SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size:40px;
}

